/* Texto justificado
body {
    text-align: justify;
}
*/
header {
    text-align: center;
}

footer {
    text-align: right;
}

strong {
    color:red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
em {
    color:green;
}

cite {
    color: greenyellow;
}

#codigo {
    color:pink;
}
/* Para centrar las clases "imagen"
.imagen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
*/

#alegria {
    float: left; /* o none, right...*/
}