strong {
    color:red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
em {
    color:green;
}

footer {
    text-align: right;
}
/* Texto justificado
body {
    text-align: justify;
}
*/
#codigo {
    color:pink;
}

 
nav {
    display: flex;
    flex-direction: row; /* row-reverse, col */
  }
.imagen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#alegria {
    float: left; /*None*/
}